/// <reference path="_variables.scss" />
#gallery-tabs {
  li.nav-item {
    border-bottom: 1px solid $color_border;

    a.nav-link {
      background-color: #fff;
      color: $primary_dark;
      font-family: $font-rokkit;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      transition: all 0.6s;
    }

    a.nav-link.active {
      background-color: $secondary;
      box-shadow: -2px 4px 8px rgba($secondary, 0.3);
      color: #fff;
      font-weight: 600;
      transition: all 0.6s;
    }

    a.nav-link:after {
      font-family: 'FontAwesome';
      color: inherit;
      content: '\f078';
      float: right;
    }
  }
}

#gallery-content {
    border-left: 1px solid $color_border;
}


// GALLERY RESPONSIVE STYLES
@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {

}

@media (min-width: 576px) {
  #gallery-tabs {
    li.nav-item {
      a.nav-link:after {
        display: none;
      }
    }
  }
}
