<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <title>@ViewData["Title"] - PXP Construções</title>
   <!-- Web Fonts -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Rokkitt:wght@300;400;500;600;700&display=swap" />
   <environment include="Development">
      <link rel="stylesheet" href="~/css/bootstrap.custom.css" />
   </environment>
   <environment exclude="Development">
      <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
   </environment>
   <!-- Font Awesome -->
   <script src="https://kit.fontawesome.com/af40653a1b.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top border-bottom box-shadow mb-3" id="mainNav" role="navigation">
         <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/">
               <img src="~/img/pxp_logo.png" alt="PXP Construções Logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse px-4">
               <ul class="navbar-nav text-center text-lg-right mt-5 mb-3">
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/">Home</a>
                  </li>
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/AboutUs">Quem Somos</a>
                  </li>
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/Services">Serviços</a>
                  </li>
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/Clients">Clientes</a>
                  </li>
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/Gallery">Galeria</a>
                  </li>
                  <li class="nav-item py-2">
                     <a class="nav-link" asp-area="" asp-page="/Contact">Contato</a>
                  </li>
               </ul>
               <div class="row h-25 d-md-none d-lg-none d-xl-none d-flex px-3">
                  <div class="col-sm-12 text-center align-self-center pt-4 social-media-menu">
                     <a href="#" class="h2 px-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                     <a href="#" class="h2 px-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                     <a href="#" class="h2 px-2"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </nav>
   </header>
   <div class="container">
      <main role="main" class="pb-3">
         @RenderBody()
      </main>
   </div>

   <footer class="border-top footer text-muted">
      <div class="container py-2 mt-3">
         <div class="row">
            <div class="col-12 text-center">
               <img src="~/img/pxp_logo.png" alt="PXP Construções" />
            </div>
            <div class="col-12 text-center my-3 pb-3">
               <address>Rua Marquês de Itu, 306 - 3° andar cj. 33<br>São Paulo - SP<br>CEP: 07140-000</address>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center">
               <h5 class="mb-2">Contato</h5>
               <p class="my-0">(11) 3333-0958</p>
               <p class="my-0">(11) 3333-3871</p>
               <a class="red-link my-2" href="mailto:contato@pxpconstrucoes.com.br" target="_blank">contato@pxpconstrucoes.com.br</a>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center my-3 py-5">
               <h5>Redes Sociais</h5>
               <a href="#" target="_blank" class="h1 px-2"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
               <a href="#" target="_blank" class="h1 px-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
               <a href="#" target="_blank" class="h1 px-2"><i class="fab fa-youtube" aria-hidden="true"></i></a>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-center copyright-text mt-3">
               <p class="py-0 my-0">&copy; 2020 - PXPConstrucoes S/A - <a asp-area="" asp-page="/Privacy">Todos os direitos reservados</a>.</p>
               <p class="py-0 my-0">&copy; 2020 - Desenvolvido por Mandrillus.</p>
            </div>
         </div>
      </div>
   </footer>

   <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
      <script src="~/js/site.js" asp-append-version="true"></script>
   </environment>
   <environment exclude="Development">
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="~/js/site.min.js" asp-append-version="true"></script>
   </environment>

   @RenderSection("Scripts", required: false)
</body>
</html>
