@page
@model PxpConstrucoes.Site.Pages.ClientsModel
@{
    ViewData["Title"] = "Clientes";
}

<div class="row">
   <div class="col-12 col-lg-10 text-center text-lg-left py-5 px-lg-3 mx-lg-auto">
      <h2>Clientes</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      </p>
   </div>
</div>
