@page
@model PxpConstrucoes.Site.Pages.ClientsModel
@{
    ViewData["Title"] = "Clientes";
}

<div class="row">
   <div class="col-12 col-lg-10 text-center text-lg-left py-5 px-lg-3 mx-lg-auto">
      <h2>Clientes</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      </p>
   </div>
</div>
<div class="row">
   <div class="col-12 col-lg-10 mx-auto">
      <img src="~/img/clients/allianz.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/athie.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/bradesco.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/bunnys.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/ceagesp-sp.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/cetesb.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/dow-quimica.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/fussesp.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/incor.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/jwt.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/kraft-foods.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/nokia.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/o-boticario.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/quimica-anastacio.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/reghus-do-brasil.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/roche.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/sbt.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/senac.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/sesc.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/tam.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/vale.gif" alt="" class="img-fluid" />
      <img src="~/img/clients/willy.gif" alt="" class="img-fluid" />
   </div>
</div>
