@page
@model PxpConstrucoes.Site.Pages.ContactModel
@{
    ViewData["Title"] = "Contato";
}

<div class="row">
   <div class="col-12 text-center py-5">
      <h2>Contato</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr
      </p>
   </div>
</div>
<div class="row" id="contact-form">
   <div class="col-12 px-0">
      <img src="~/img/paper-3225109_1920@2x.jpg" alt="Entre em contato" />
      <form>
         <input type="text" value="" placeholder="Sobre que assunto deseja falar?" />
      </form>
   </div>
</div>
<div class="row" id="contact-map">
   <div class="col-12 px-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6792216174645!2d-46.64958538440727!3d-23.54403716683925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5848bc9b19ad%3A0x9ec8c67b267a3339!2sR.%20Marqu%C3%AAs%20de%20Itu%2C%20306%20-%20Vila%20Buarque%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001223-000!5e0!3m2!1sen!2sbr!4v1592602568231!5m2!1sen!2sbr" frameborder="0" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
   </div>
</div>
