@page
@model PxpConstrucoes.Site.Pages.ContactModel
@{
    ViewData["Title"] = "Contato";
}

<div class="row">
   <div class="col-12 col-lg-10 text-center text-lg-left py-5 px-lg-3 mx-lg-auto">
      <h2>Contato</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr
      </p>
   </div>
</div>
<div class="row">
   <div id="contact-form" class="col-12 col-lg-10 d-flex mx-lg-auto px-0">
      <img src="~/img/paper-3225109_1920@2x.jpg" alt="Entre em contato" class="col-lg-6 img-fluid float-lg-right p-0 pl-lg-3 pt-lg-3" />
      <form method="post" class="col-12 col-lg-6 form float-lg-left py-4 p-lg-0">
         <div asp-validation-summary="All"></div>
         <div class="row">
            <div class="col-12">
               <div class="form-group px-3">
                  <input asp-for="Contact.Subject" class="px-2" placeholder="Sobre que assunto deseja falar?" />
                  <span asp-validation-for="Contact.Subject"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="form-group px-3">
                  <input asp-for="Contact.Name" class="px-2" placeholder="Seu nome completo" />
                  <span asp-validation-for="Contact.Name"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="form-group px-3">
                  <input asp-for="Contact.Email" class="px-2" placeholder="Seu melhor e-mail" />
                  <span asp-validation-for="Contact.Email"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="form-group px-3">
                  <input asp-for="Contact.Phone" class="px-2" placeholder="Seu número de telefone ou celular" />
                  <span asp-validation-for="Contact.Phone"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <div class="form-group px-3">
                  <textarea asp-for="Contact.Message" class="px-2" cols="40" rows="12" placeholder="Sua mensagem"></textarea>
                  <span asp-validation-for="Contact.Message"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12 text-right">
               <div class="form-group px-3">
                  <button type="submit">Enviar mensagem</button>
               </div>
            </div>
         </div>
      </form>
      <address class="d-none d-lg-block my-3 my-lg-0 pb-3">
         <div class="float-left px-0 py-1 pl-3">
            <small>Rua Marquês de Itu, 306 - 3° andar cj. 33<br>São Paulo - SP<br>CEP: 07140-000</small>
         </div>
      </address>
      <div id="contact-map" class="col-12 col-lg-6 embed-responsive embed-responsive-21by9 float-lg-right px-0">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6792216174645!2d-46.64958538440727!3d-23.54403716683925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5848bc9b19ad%3A0x9ec8c67b267a3339!2sR.%20Marqu%C3%AAs%20de%20Itu%2C%20306%20-%20Vila%20Buarque%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001223-000!5e0!3m2!1sen!2sbr!4v1592602568231!5m2!1sen!2sbr" frameborder="0" allowfullscreen="true" aria-hidden="false" tabindex="0" class="embed-responsive-item h-75 pl-lg-3"></iframe>
      </div>
   </div>
</div>
