@page
@model PxpConstrucoes.Site.Pages.GalleryModel
@{
    ViewData["Title"] = "Galeria";
}

<div class="row">
   <div class="col-12 text-center py-5">
      <h2>Galeria</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      </p>
   </div>
</div>
