@page
@model IndexModel
@{
   ViewData["Title"] = "Início";
}

<div class="row h-50">
   <div class="col-12 text-center py-5" id="banner">
      <h1 class="text-white">Arquitetura e Engenharia Corporativa</h1>
      <p class="text-white text-center">Excelência na concepção de espaços que sejam a extensão das necessidades, objetivos, filosofia e imagem do cliente.</p>
   </div>
</div>

