@page
@model IndexModel
@{
   ViewData["Title"] = "Início";
}

<div class="row">
   <div class="col-12 text-center" id="banner">
      <h1 class="align-self-center">Arquitetura e Engenharia Corporativa</h1>
      <p>Excelência na concepção de espaços que sejam a extensão das necessidades, objetivos, filosofia e imagem do cliente.</p>
   </div>
</div>

