@page
@model PxpConstrucoes.Site.Pages.ServicesModel
@{
    ViewData["Title"] = "Serviços";
}

<div class="row">
   <div class="col-12 text-center py-5">
      <h2>Serviços</h2>
      <p class="description-intro">
         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      </p>
   </div>
</div>
<div class="row" id="services">
   <div class="col-12 mb-3 px-0">
      <section>
         <img src="~/img/services/buildings-2581875_1920.jpg" alt="Construções" />
         <h2 class="subtitles-home text-center my-4">Construções</h2>
         <p class="default-text px-4">
            Execução de obras corporativas seguindo estritamente o projeto original de arquitetura dentro dos prazos e custos previstos com excelência de qualidade.
         </p>
         <p class="default-text px-4">
            Investimos em pessoas e tecnologia. Um grupo de profissionais de áreas específicas de atuação é alocado nos processos para dar total suporte ao cliente nas diferentes fases do projeto. A constante atualização dos sistemas de informática e comunicação, a incorporação de novas tecnologias incorporadas ao sistema construtivo de certificação LEED.
         </p>
      </section>
   </div>
   <div class="col-12 mb-3 px-0">
      <section>
         <img src="~/img/services/men-827301_1920.jpg" alt="Reformas e Manutenções" />
         <h2 class="subtitles-home text-center my-4">Reformas e Manutenções</h2>
         <p class="default-text px-4">
            Serviços de gestão, manutenção e reformas com equipes altamente capacitadas e experientes garantem o controle efetivo dos processos, por meio do gerenciamento de diferentes fases: desde a execução ao desenvolvimento do projeto arquitetônico e complementares, controle de concorrências e contratações até o acompanhamento e entrega da obra.
         </p>
         <p class="default-text px-4">
            A PLM atua com metodologia e ferramentas testadas e comprovadas no mercado corporativo e industrial.
         </p>
      </section>
   </div>
   <div class="col-12 mb-3 px-0">
      <section>
         <img src="~/img/services/solar-panel-918492_1920.jpg" alt="Sustentabilidade e Retrofit" />
         <h2 class="subtitles-home text-center my-4">Sustentabilidade e Retrofit</h2>
         <p class="default-text px-4">
            Experiência em processos completos de retrofit, moderniza e atualiza os edifícios nos aspectos tecnológicos e na sua arquitetura original.
         </p>
         <p class="default-text px-4">
            Respeitando as características preexistentes, utilizamos soluções inovadoras desenvolvidas por equipes experientes de engenheiros e arquitetos, que contam com o desenvolvimento de obras certificadas pelo LEED.
         </p>
      </section>
   </div>
</div>
