/// <reference path="_variables.scss" />
#contact-form {

}

#contact-map {
    iframe {
        width: 100%;
        height: 360px;
        border: none;
    }
}

// CONTACT RESPONSIVE STYLES
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
