/// <reference path="_variables.scss" />
header {
  #mainNav {
    background-color: $primary;
    font-family: $font-rokkit;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;

    .navbar-brand {
      img {
        width: 130px;
      }
    }

    .navbar-collapse {
      position: absolute;
      background-color: $primary;
      top: 3.6em;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      width: 60%;
      height: 100vh;
    }

    .navbar-collapse.collapsing {
      height: 100vh;
      -webkit-transition: right 0.5s ease;
      -o-transition: right 0.5s ease;
      -moz-transition: right 0.5s ease;
      transition: right 0.5s ease;
      right: -60%;
    }

    .navbar-collapse.show {
      right: 0;
      background-color: $primary;
      -webkit-transition: right 0.5s ease-in;
      -o-transition: right 0.5s ease-in;
      -moz-transition: right 0.5s ease-in;
      transition: right 0.5s ease-in;
      border-top: #fff;
      border-top-color: #fff;
      box-shadow: -5px 0 6px rgba(0, 0, 0, 0.4);
    }

    .social-media-menu {
      border-top: 1px solid $color_border;
    }

    a {
      transition: all 0.4s;

      i {
        cursor: pointer;
        color: $color_border;
      }
    }

    a:hover {
      icon {
        cursor: pointer;
        color: $secondary_light;
        text-decoration: none;
      }
    }

    button {
      border: 0;
    }

    li {
      border-bottom: 1px solid $color_border;

      .nav-link {
        color: $color_border;
        transition: all 0.4s;
      }

      .nav-link:hover {
        color: $secondary;
        text-decoration: none;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

// HEADER RESPONSIVE STYLES
@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
  header {
    #mainNav {
      .navbar-collapse {
        position: relative;
        top: 0;
        width: 100%;
        height:4em;
      }
      li {
        border: 0;
      }
    }
  }
}

@media (min-width: 576px) {
}
