/// <reference path="_variables.scss" />
main {
   #banner-home {
      height: 45vh;
      height: 22rem;
      background-image: url('../img/architecture-3121009_1920@2x.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: cover;

      h1, p {
         color: #fff;
         font-family: $font-rokkit;
         text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.8);
      }

      h1 {
         font-size: 32px;
         font-weight: 700;
      }

      p {
         font-size: 16px;
         font-weight: 600;
      }
   }

   h2.subtitles-home {
      color: $secondary;
   }

   .description-intro-red {
      color: $secondary_dark;
      font-family: $font-open-sans;
      font-style: italic;
      font-size: 14px;
   }

   .divider {
      border-top: 1px solid $primary_light;
   }
}

// HOME RESPONSIVE STYLES
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
