/// <reference path="_variables.scss" />
#services {
  section {
    img {
      width: 100%;
      background-color: #fff;
      border: none;
    }
  }
}

// SERVICES RESPONSIVE STYLES
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
